<form method="post" action"http://localhost:8080/"> 



delaybetweenorder: <input type="textinput" value="0.35" name="delaybetweenorder"> </input> <br>
takeProfit: <input type="textinput" value="2" name="takeProfit"> </input><br>
stopLoss: <input type="textinput" value="-12" name="stopLoss"> </input><br>
ethdelaybetweenorder: <input type="textinput" value="0.01" name="ethdelaybetweenorder"> </input><br>
ethtakeProfit: <input type="textinput" value="2" name="ethtakeProfit"> </input><br>
ethstopLoss: <input type="textinput" value="-12" name="ethstopLoss"> </input><br>
debug: <input type="textinput" value="false" name="debug"> </input><br>
ethtgUser: <input type="textinput" value="Enter your Telegram" name="ethtgUser"> </input><br>
tgUser: <input type="textinput" value="Enter your Telegram" name="tgUser"> </input><br>
orderSizeMult: <input type="textinput" value="1" name="orderSizeMult"> </input><br>
ethorderSizeMult: <input type="textinput" value="1" name="ethorderSizeMult"> </input><br>
key: <input type="textinput" value="binance api key" name="key"> </input><br>
ethkey: <input type="textinput" value="binance api key" name="ethkey"> </input><br>
secret: <input type="textinput" value="binance api secret" name="secret"> </input><br>
ethsecret: <input type="textinput" value="binance api secret" name="ethsecret"> </input><br>
doWithdraw: <input type="textinput" value="true" name="doWithdraw"> </input><br>
min_withdrawal_percent: <input type="textinput" value="0.025" name="min_withdrawal_percent"> </input><br>
<input type="submit" />

</form>